<html>
<head>
  <title>Search Shakespeare</title>
</head>
<body>
<h1>Search Shakespeare</h1>

<form name="search" action="/search" method="get">
  <input type="text" name="query">
  <input type="submit" value="Search">
</form>

{% if result.word %}

<h2>Search results for {{ result.word }}</h2>

<table>
  <tr>
    <th>Book</th>
    <th>Sentence</th>
  </tr>
  {% for sentence in result.sentences %}
  <tr>
    <td> {{ sentence.book }} </td>
    <td> {{ sentence.sentence }} </td>
  </tr>
  {% endfor %}
</table>

{% endif %}

</body>
</html>
